<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/showStyle.css">
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQnl5YWy3r4Zh83G8cTEzItLIRdMVr0oo" type="text/javascript">
    </script>
    <script>
function initialize() {
  var mapProp = {
    <% if(event2.title === "Steamboat"){ %>
    center:new google.maps.LatLng(40.4850, -106.8317)
    <% } else if(event2.title === "Keystone") { %>
    center:new google.maps.LatLng(39.5792, -105.9347)
    <% } else if (event2.title === "Arapahoe Basin") { %>
    center:new google.maps.LatLng(39.6423, -105.8717)
    <% } else if (event2.title === "Decadence") { %>
    center:new google.maps.LatLng(39.7392, -104.9903) <% } %>,
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>The Highest State</h1>
        <a class="user" href="/users/new">Create New User</a> CO
        <a class="user" href="/sessions/new">Log In</a><br/>
      </div>
      <h2 class="title"><%=event2.title; %></h2><br/>
      <img src="<%=event2.img; %>"><br/>
      <h3 class="description"><span style="font-weight:bold">Description:</span> <%=event2.description; %></h3><br/>
      <h3 class="rating"><span style="font-weight:bold">Rating:</span> <%=event2.rating; %></h3><br/>
      <div id="googleMap" style="width:500px;height:380px;"></div>
      <nav>
        <a href="/events2">Back to Events Index</a>
      </nav>
    </div>
  </body>
</html>
