<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show Page</h1>
    <%=event2.title; %><br/>
    <img src="<%=event2.img; %>"><br/>
    Description: <%=event2.description; %><br/>
    Rating: <%=event2.rating; %><br/>
    <nav>
      <a href="/events2">Back to Events Index</a>
    </nav>
  </body>
</html>
