<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDQnl5YWy3r4Zh83G8cTEzItLIRdMVr0oo" type="text/javascript">
    </script>
    <script>
function initialize() {
  var mapProp = {
    <% if(event.title === "Mount Elbert: 14,433 feet - Class 2"){ %>
    center:new google.maps.LatLng(39.1178, -106.4452)
    <% } else if(event.title === "Capitol Peak: 14,130 feet – Class 4") { %>
    center:new google.maps.LatLng(39.1503, -107.0831)
    <% } else if (event.title === "San Luis Peak: 14,014 feet - Class 2") { %>
    center:new google.maps.LatLng(37.9869, -106.9314)
    <% } else if (event.title === "Oktoberfest") { %>
    center:new google.maps.LatLng(39.7392, -104.9903) <% } %>,
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body>
    <h1>Show Page</h1>
    <%=event.title; %><br/>
    <img src="<%=event.img; %>"><br/>
    Description: <%=event.description; %><br/>
    Rating: <%=event.rating; %><br/>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <nav>
      <a href="/events">Back to Events Index</a>
    </nav>
  </body>
</html>
