<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The Highest State</h1>
    <a href="/users/new">Create New User</a> ||
    <a href="/sessions/new">Log In</a>
    <a href="/events"><img src="https://www.colorado.com/sites/default/files/PR_AspenChamber_maroonbellsJeremySwanson.jpg"></a>
    <a href="/events2"><img src="https://c4.staticflickr.com/8/7188/6873863129_755550bbbe_b.jpg"></a>
    <a href="events3"><img src="https://assets.rbl.ms/14650900/980x.jpg"></a>
    <a href="events4"><img src="http://www.realestateofthesummit.com/wp-content/uploads/2016/10/Summer-Tourism-e1475768143613.jpeg"></a>
  </body>
</html>
