<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="header">
      <div class="container-fluid">
        <h1>The Highest State</h1><br/>
        <a class="user" href="/users/new">Create New User</a> CO
        <a class="user" href="/sessions/new">Log In</a>
      </div>
    </div>
    <div class="backgroundImage">
      <a href="/events"><img class="seasonImage" src="img/download.jpg"></a><br/>
      <a href="events3"><img class="seasonImage3" src="img/flower.jpg"></a><br/>
      <a href="events4"><img class="seasonImage4" src="img/tree.jpg"></a><br/>
      <a href="/events2"><img class="seasonImage2" src="img/snowflake.jpg"></a><br/>
    </div>
  </body>
</html>
