<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQnl5YWy3r4Zh83G8cTEzItLIRdMVr0oo" type="text/javascript">
    </script>
    <script>
function initialize() {
  var mapProp = {
    <% if(event5.title === "Steamboat"){ %>
    center:new google.maps.LatLng(40.4850, -106.8317)
    <% } else if(event5.title === "Keystone") { %>
    center:new google.maps.LatLng(39.5795, -105.9347)
    <% } else if (event5.title === "Arapahoe Basin") { %>
    center:new google.maps.LatLng(39.6453, -105.8717)
    <% } else if (event5.title === "Decadence") { %>
    center:new google.maps.LatLng(39.7395, -104.9903) <% } %>,
    zoom:10,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
  </head>
  <body>
    <h1>Show Page</h1>
    <%=event5.title; %><br/>
    <img src="<%=event5.img; %>"><br/>
    Description: <%=event5.description; %><br/>
    Rating: <%=event5.rating; %><br/>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <nav>
      <a href="/events5">Back to Events Index</a>
    </nav>
  </body>
</html>
