<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Event</h1>
    <form action="/events3" method="POST">
      Title: <input type="text" name="title" /><br/>
      Image: <input type="text" name="img" /><br/>
      Description: <input type="text" name="description" /><br/>
      Rating: <input type="number" name="rating" /><br/>
      <input type="submit" value="Create Event"/>
    </form>
  </body>
</html>
